/*cards with weather information*/
.card{
    width: 12rem;
}

/* Map */
#map {
    width: 106%;
    height: 700px;
}

/* Body */
body{
    background-image: url(./../img/starrySky.jpeg);
    background-color: black;
}